---
const skills = [
    { name: "React", img: `${import.meta.env.BASE_URL}/assets/react.png` },
    { name: "Node.js", img: `${import.meta.env.BASE_URL}/assets/node.png` },
    { name: "TypeScript", img: `${import.meta.env.BASE_URL}/assets/Typescript.png` },
    { name: "Next.js", img: `${import.meta.env.BASE_URL}/assets/nextjs_icon.png` },

    { name: "Redux", img: `${import.meta.env.BASE_URL}/assets/redux.svg` },
    // { name: "APIs", img: `${import.meta.env.BASE_URL}/assets/rest.png` },
    { name: "QraphQL", img: `${import.meta.env.BASE_URL}/assets/graphql.png` },
    { name: "MongoDB", img: `${import.meta.env.BASE_URL}/assets/mongo.png` },
    { name: "Angular", img: `${import.meta.env.BASE_URL}/assets/angular_icon.png` },

    { name: "HTML", img: `${import.meta.env.BASE_URL}/assets/html.png` },
    { name: "CSS", img: `${import.meta.env.BASE_URL}/assets/css.png` },
    { name: "JavaScript", img: `${import.meta.env.BASE_URL}/assets/javascript.png` },
    { name: "Tailwind", img: `${import.meta.env.BASE_URL}/assets/tailwind.png` },


    // { name: "MySQL", img: `${import.meta.env.BASE_URL}/assets/mysql.png` },
    // { name: "MongoDB", img: `${import.meta.env.BASE_URL}/assets/mongo.png` },
    { name: "Docker", img: `${import.meta.env.BASE_URL}/assets/docker_icon.png` },
    { name: "AWS", img: `${import.meta.env.BASE_URL}/assets/aws.png` },

    { name: "Java", img: `${import.meta.env.BASE_URL}/assets/Java.png` },
    { name: "Vite", img: `${import.meta.env.BASE_URL}/assets/vite_icon.svg` },
    // { name: "GitHub", img: `${import.meta.env.BASE_URL}/assets/github.png` },
    // { name: "Firebase", img: `${import.meta.env.BASE_URL}/assets/firebase.png` },
];
---

<section class="w-full mt-12 bg-transparent text-gray-300">
  <div class="max-w-[1000px] mx-auto px-6 flex flex-col justify-center w-full">
    <div>
        <h2 class="text-2xl font-semibold mb-3 text-center bg-gradient-to-r from-[#64B6FF] to-[#A78BFA] text-transparent bg-clip-text">
            Technologies
        </h2>
      <p class="py-2 text-center px-4">
        I primarily work with these technologies right now, but over the years, I've gained experience with many frameworks, languages, and tools.
      </p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 text-center py-4 mb-12">
      {skills.map((skill) => (
        <div class="shadow-md shadow-[#040c16] hover:scale-110 duration-500 p-4 rounded-lg">
          <img class="w-16 mx-auto" src={skill.img} alt={`${skill.name} icon`} />
          <p class="mt-4">{skill.name}</p>
        </div>
      ))}
    </div>
  </div>
</section>
